@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 1.2em;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 10px 0;
}

/* Header start*/

header {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 3px solid #3FB2E7;
}

.logo {
  width: 35%;
  margin: 0 0 0 20px;
}

/* header end */

/* Content area start */

.container {
  display: flex;
  background-color: #eee; 
}

/* Form */

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 33%;
  background-color: #eee; 
}

/* label {
  margin: 0 0 0 20px;
} */

input {
  width: 300px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.event {
  margin: 0 0 0 15px;
}

.namefriend {
  margin: 0 0 0 13px;
}

.payt {
  width: 277px;
  margin: 0 0 0 15px;
}

.submit {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #3FB2E7;
  border: none;
  align-self: center;
}

.submit:hover {
  background-color: #F8BC16;
}

/* Calculation area start */
.calculationarea {
  display: flex;
  width: 66%;
}

.informationtable {
  background-color: white; 
  width: 50%;
}

.resultofsplitting {
  width: 50%;
  background-color: #eee;
}




/* Footer start */

footer {
  display: flex;
  align-items: center;
  height: 60px;
  border-top: 3px solid #3FB2E7;
  border-bottom: 3px solid #3FB2E7;
}

footer p {
  margin: 0 0 0 20px;
} 

.joe {
  width: 100px;
  margin: 1px 0 0 0;
}

